name: "beszel"

x-lockdown: &lockdown
  # prevents write access to the image itself
  read_only: true
  # prevents any process within the container to gain more privileges
  security_opt:
    - "no-new-privileges=true"

services:
  socket-proxy:
    image: "11notes/socket-proxy:2.1.6"
    <<: *lockdown
    user: "0:103" 
    environment:
      TZ: "Europe/Zurich"
    volumes:
      - "/run/docker.sock:/run/docker.sock:ro" 
      - "socket-proxy.run:/run/proxy"
    restart: "always"

  hub:
    image: "11notes/beszel:0.13.2"
    <<: *lockdown
    environment:
      TZ: "Europe/Zurich"
    volumes:
      - "hub.var:/beszel/var"
    ports:
      - "3000:8090/tcp"
    networks:
      frontend:
      backend:
    restart: "always"

  agent:
    depends_on:
      hub:
        condition: "service_healthy"
        restart: true
    image: "11notes/beszel-agent:0.15.4"
    <<: *lockdown
    environment:
      TZ: "Europe/Zurich"
      LISTEN: "/beszel/run/beszel.sock"
      HUB_URL: "http://hub:8090"
      TOKEN: "${BESZEL_AGENT_TOKEN}"
      KEY: "${BESZEL_AGENT_KEY}"
    volumes:
      - "agent.var:/beszel/var"
      - "agent.socket:/beszel/run"
      - "socket-proxy.run:/var/run"
    tmpfs:
      - "/tmp:uid=1000,gid=1000"
    networks:
      backend:
    restart: "always"

volumes:
  hub.var:
  agent.var:
  agent.socket:
  socket-proxy.run:

networks:
  frontend:
  backend:
    internal: true